
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
</head>
<body>
  {% if messages %}
  <div>
    <!-- {% for message in messages %} -->
      <!-- <div class="alert">
        <button class="close-btn" onclick="this.parentElement.style.display='none';" aria-label="Close alert">&times;</button>

        {{ message }}
      </div> -->
      <div class="alert-container" id="alertContainer">

        <div class="alert warning">
    <button class="close-btn" onclick="closeAlert(this)">&times;</button>
    <p>
    Warning! Invalid username or password .
    </p>
  </div>
  </div>
    <!-- {% endfor %} -->
  </div>
  {% endif %}
  <div class="login-container">
  
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Login</button>
    </form>
  </div>
  <script>
  function closeAlert(button) {
    const alert = button.parentElement;
    alert.style.opacity = '0';
    alert.style.transform = 'translateX(100%)';
    setTimeout(() => alert.remove(), 2);
  }
</script>
</body>
</html>
