{% extends 'core/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}"/>
{% endblock %}
{% block content %}
<div class="main-content">
    <header>
        <h1>Welcome, {{dietician_name}} !</h1>
    </header>

    <!-- Dashboard Overview -->
    <section id="dashboard" class="dashboard">
        <div class="dashboard-stats">
            <div class="stat">
                <h3>Total Clients</h3>
                <p>{{client_count}}</p>
            </div>
            <div class="stat">
                <h3>Appointments This Month</h3>
                <p>{{appointment_count}}</p>
            </div>
            <div class="stat">
                <h3>Pending Appointments</h3>
                <p>{{pending_appointments}}</p>
            </div>
        </div>
    </section>

    <!-- Manage Clients -->
    <section id="clients" class="clients">
        <div class="entity-header">
        <h2>Clients</h2>
        <button class="btn add-client-btn"><a href="/client/client_list">Manage Client</a></button>
    </div>
        <table class="client-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add dynamic client rows here -->
                 {% for cl in client %}
                <tr>
                    <td>{{cl.first_name}}</td>
                    <td>{{cl.email_id}}</td>
                    <td>{{cl.contact_no}}</td>
                    <td><button class="btn edit-btn"><a href="/client/edit/{{cl.id}}/">Edit</a></button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>

    <!-- Manage Appointments -->
    <section id="appointments" class="appointments">
        <div class="entity-header">
        <h2>Appointments</h2>
        <button class="btn add-appointment-btn"><a href="/appointment/">Manage Appointment</a></button>
    </div>
        <table class="appointment-table">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Date</th>
                    <th>Diet Plans</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add dynamic appointment rows here -->
                 {% for ap in appointment %}
                <tr>
                    
                    <td>{{ap.patient.client_profile.first_name}}</td>
                    <td>{{ap.datetime}}</td>
                    <td>2</td>
                    <td><button class="btn edit-btn"><a href="">Edit</a></button></td>
                    {% endfor %}
                </tr>
                
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
